 /* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #fff;
    background: linear-gradient(to bottom, #AB52B5 0%, #AB52B5 50%, white 50%, white 100%);
}

/* Hero Section */
.hero {
    background-color: white;
    text-align: center;
    padding: 350px 20px;
    color: #AB52B5;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.cta-btn {
    background-color: #AB52B5;
    color: white;
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s ease-in-out;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid white;
}

.cta-btn:hover {
    background-color: white;
    color: #AB52B5;
    transform: scale(1.1);
}

/* Key Message Section */
.key-message {
    padding: 50px 20px;
    background-color: #444;
    text-align: center;
}

.key-message h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.key-message ul {
    list-style-type: none;
}

.key-message li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Call to Action Section */
.cta-section {
    background-color: #e74c3c;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
}

.cta-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.cta-section p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

/* Social Proof Section */
.social-proof {
    text-align: center;
    padding: 50px 20px;
    background-color: #333;
}

.social-proof h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.partners img {
    width: 100px;
    margin: 0 10px;
}

/* Footer Section */
footer {
    background-color: #222;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1em;
}

footer a {
    color: #e74c3c;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
